version: 2.1

orbs:
  gh: circleci/github-cli@1.0
  sre: tracktor/ci-tools@0.13.1

references:
  pypi_context: &pypi_context
    - pypi
    - github

  filters_not_tagged: &filters_not_tagged
    tags:
      ignore: /.*/

  filters_only_master: &filters_only_master
    tags:
      ignore: /.*/
    branches:
      only: /^master$/

  filters_only_tags: &filters_only_tags
    tags:
      only: /.*/
    branches:
      ignore: /.*/


executors:
  test-3-12:
    docker:
      - image: cimg/python:3.13-node
      - image: cimg/postgres:17.0
        environment:
          POSTGRES_PASSWORD: postgres
      - image: minio/minio
        environment:
          MINIO_ROOT_USER: foo
          MINIO_ROOT_PASSWORD: foobarbaz
        command: server /data

  build:
    docker:
      - image: cimg/python:3.13

jobs:

  run-tests-3-13:
    executor: test-3-13
    steps:
      - checkout
      - sre/run-python-tests:
          extras: '--all-extras'
          formatter: 'ruff'
          tool: 'uv'
          before-steps:
            - run:
                name: Install dependencies
                command: uv sync --all-extras --all-groups

  bump-version:
    executor: build
    steps:
      - gh/setup
      - checkout
      - sre/bump-version:
          lang: "python"
          branch: "master"
          tool: "uv"
      - store_artifacts:
          path: dist
      - save_cache:
          name: Saving wheel
          key: tracktolib-{{ checksum "pyproject.toml" }}
          paths:
            - dist/

  publish:
    executor: build
    steps:
      - checkout
      - restore_cache:
          name: Restore wheel
          keys:
            - tracktolib-{{ checksum "pyproject.toml" }}
      - run:
          name: Publishing
          command: uv publish --token $PYPI_TOKEN


workflows:

  run-tests:
    jobs:
      - run-tests-3-13:
          filters: *filters_not_tagged
      - bump-version:
          context: *pypi_context
          requires: [
            run-tests-3-13
          ]
          filters: *filters_only_master

  publish:
    jobs:
      - publish:
          context: *pypi_context
          filters: *filters_only_tags
